
body {
	margin: 0;
	padding: 0;
	background-color:#f38c2e;  
}
.menu {
  font-family: "ibm";
  color:#0e0f39;
  position:absolute;
  top:3vh;
  left:5vh;
  display:inline-block;
}
.menu h1 {
  display:inline-block;
}
.menu a {
  text-decoration: none;
  color:white;
}
.menu a:hover {
  filter:blur(2px);
}
canvas {
	margin-left:auto;
	margin-right:auto;
	display:block;
  margin-top:20vh;
}

@font-face {
  font-family: "ibm";
  src: url("assets/IBMPlexMono-Regular.woff");
}
